<div class="body_app">
    <app-inputs 
    class="inputs"
    [books]="books"
    (selectedGenre)="getFilterGenre($event)"
    (selectedTitle)="getFilterTitle($event)"
    ></app-inputs>
    
    <app-list 
    class="listado_component"
    [bookEliminado]="book"
    [books]="books"
    [selectedGenre]="selectedGenre"
    [selectedTitle]="selectedTitle"
    ></app-list>

    <app-list-deseados 
    class="deseados"
    (bookEliminado)="backToList($event)"
    [selectedGenre]="selectedGenre"
    ></app-list-deseados>
</div>  