.book{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 200px;
    margin: 20px;
    h3{
        text-align: center;
    }
    img{
        max-width: 150px;
        cursor: pointer;
        transition: all ease-in 0.1s;
    }
    img:hover{
        opacity: 0.8;
        max-width: 140px;
    }
}

.visible{
    display: block;
}

.no-visible{
    display: none;
}